.sectionController {
  display: flex;
  justify-content: space-around;

  &__card {
    position: relative;
    width: 500px;
    height: 400px;
    padding: 20px;
    overflow: auto;

    &__title {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.marginTop {
  margin-top: 50px;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

@media only screen and (max-width: 1024px) {
  .sectionController {
    display: block;
  }
}